ListView > ListItem {
    background: transparent;
}

ListView:focus > ListItem.--highlight {
    background: $primary;
}

.show { display: block; }
.hide { display: none; }
/*
TextArea {
    background: blue;
}
*/